#intro {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('./imgs/tent-intro.jpg');
  background-position: center;
  background-attachment: fixed;
}